:root {
  --logo-colour: #30B0A5;
  --nav-colour: #30B0A5;
  --link-highlight: #3dd9cb;
}

/* Header intro */
.intro_container {
  padding: 50px 20%;
}

.intro_container h1 {
  font-size: 3rem;
}

.highlight {
  color: #D3455A;
}

.service_notice {
  margin: 0px 20%;
  padding: 15px 20px;
  background-color: #098F82;
  color: white;
  border-radius: 5px;
}

.service_notice a {
  float: right;
  color: white;
}

/* Journey Planner */
.planner_container {
  margin: 30px 20%;
}

.booking_error {
  color: red;
}