@font-face {
  font-family: rawline;
  src: url(../src/assets/rawline-500.ttf);
}

body {
  margin: 0;
  font-family: rawline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
